body {
	font: 12px / 1.5 tahoma, arial, '宋 体';
	background: url(../images/bg.png) repeat;
}
a {
	color: #666;
	text-decoration: none;
}
a:hover {
	color: #FF4400;
}
/*layout*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	margin: 0;
	padding: 0
}
article, aside, figure, figure img, figcaption, hgroup, footer, header, nav, section, video, object {
	display: block
}
a img {
	border: 0
}
figure {
	position: relative
}
figure img {
	width: 100%
}
.container {
	padding: 0 20px;
}
.row {
	width: 100%;
	max-width: 960px;
	min-width: 755px;
	margin: 0 auto;
}
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol {
	margin-right: 0.8%;
	float: left;
	min-height: 1px;
}
.row .onecol {
	width: 4.85%;
}
.row .twocol {
	width: 13.45%;
}
.row .threecol {
	width: 24.4%;
}
.row .fourcol {
	width: 30.75%;
}
.row .fivecol {
	width: 39.45%;
}
.row .sixcol {
	width: 49.6%;
}
.row .sevencol {
	width: 56.75%;
}
.row .eightcol {
	width: 65.4%;
}
.row .ninecol {
	width: 74.05%;
}
.row .tencol {
	width: 82.7%;
}
.row .elevencol {
	width: 91.35%;
}
.row .twelvecol {
	width: 100%;
	float: left;
}
.last, .line ul .last {
	margin-right: 0px;
}
img {
	height: auto;
}
.img-hover {
	opacity: 0.7;
	cursor: pointer;
	filter: alpha(opacity=70)
}
.clear {
	clear: both;
	display: block;
	height: 0;
	overflow: hidden;
	visibility: hidden;
	width: 0;
}
/*header*/
.site-top {
	background: #F5F5F5;
	border-bottom: 1px solid #DCDCDC;
	height: 25px;
    float:left;
    width:100%;
}
.hotline {
	color: #fff;
	font-family: "microsoft yahei";
	font-weight: bold;
	display: block;
	float: left;
	background: #FF4400;
	line-height: 25px;
	padding: 0 5px
}
.welcome {
	display: block;
	float: left;
	line-height: 25px;
	padding-left: 10px;
	color: #666666;
	white-space: nowrap
}
.logo {
	background: url(../logo.png?v=2) no-repeat;
	width: 196px;
	height: 86px;
	margin: 15px 0;
	float: left;
}
.logo a {
	width: 195px;
	height: 64px;
	text-indent: -999px;
	display: block;
	overflow: hidden
}
.site-menu {
	background: url(../images/header.png) repeat-x;
	height: 45px;
}
.menu {
	position: relative
}
.menu ul {
	list-style-type: none;
}
.menu ul li {
	float: left;
	background: url(../images/menu_space.png) no-repeat 0 17px;
	padding: 0 20px 0 15px;
	line-height: 35px;
	font-size: 16px;
	font-family: "microsoft yahei";
	font-weight: bold;
}
.menu .act a span {
	background: url(../images/menu-hover.png) no-repeat right top;
	padding-right: 10px;
	display: inline-block;
	height: 35px
}
.menu ul li a {
	color: #FFF;
	text-decoration: none;
	padding-left: 10px;
	display: inline-block;
	margin-top: 5px;
}
.menu ul li a:hover {
	text-decoration: underline
}
.menu ul .first {
	background: none
}
.menu .act a {
	background: url(../images/menu-hover.png) no-repeat left top;
	color: #333
}
.my-profile {
	overflow: hidden;
	margin-top: 43px;
	float: right
}
.my-profile ul {
	list-style-type: none;
}
.my-profile ul li {
	float: left;
	background: url(../images/my.png) no-repeat;
	width: 112px;
	height: 29px;
	line-height: 25px;
	margin-left: 10px;
}
.my-fandian {
	background: url(../images/my_fandian.png) 5px 2px no-repeat;
	display: block;
	padding-left: 30px
}
.my-cart {
	background: url(../images/my_cart.png) 5px 2px no-repeat;
	display: block;
	padding-left: 30px
}
.my-search ul {
	list-style-type: none;
}
.my-search ul li {
	float: left;
	margin: 0 5px;
	font-family: "microsoft yahei";
}
.my-input {
	border: 0;
	height: 33px;
	background: url(../images/search_bg.png) repeat-x;
	line-height: 33px;
	color: #b9b9b9;
	float: left;
	width: 330px
}
.my-submit {
	border: 0;
	margin: 0;
	cursor: pointer;
	float: left;
	height: 33px;
	outline: medium none;
	overflow: hidden;
	text-indent: -999px;
}
.wrap {
	overflow: hidden
}
.area {
	font-family: "microsoft yahei";
	float: left;
	width: 188px;
}
.area .location {
	background: url(../images/arrow-down.png) no-repeat;
	height: 40px;
	color: #FFF;
	line-height: 40px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 35px;
	cursor: pointer
}
.area .location.arrowdown {
	background: url(../images/arrow-up.png) repeat-x;
}
.area-ul {
	display: none
}
.area ul {
	list-style-type: none;
	position: absolute;
	z-index: 99999;
	background: #fff;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #FF4400;
	border-bottom-color: #FF4400;
	border-left-color: #FF4400;
	width: 186px;
}
.area ul li {
	clear: both;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	background: none;
	width: 156px;
}
.areashow span
{
	margin-right:10px;
	font-size:14px;
	cursor:pointer;
	white-space:nowrap;
}
.areashow span.active
{
	background-color:#FF4400;
	color:#FFF;
	padding:2px 3px;
	
}
#area-ctg
{
	float:left;
	width:100%;
	border-bottom:1px solid #CCC;
	width:732px;
	margin-bottom:10px;
}
.area-district
{
	float:left;
	background:#FE6833;
	color:#fff;
	min-width:70px;
	padding:5px;
	text-align:center;
	cursor:default
}
.banner {
	background: #000;
	height: 280px;
	margin: 10px 0 0;
	border: 1px solid #fff
}
.welcome a {
	color: #666;
	text-decoration: none;
}
.welcome a:hover {
	text-decoration: underline;
	color: #E53810
}
.my-tools {
	background: #fff;
	height: 280px;
	margin: 5px 0 0;
	float: right;
	width: 270px;
}
.news {
	background: url(../images/news_icon.png) no-repeat left 3px;
	height: 30px;
	color: #FF4400;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 0 30px;
	font-family: "microsoft yahei";
}
.my-tools ul {
	list-style-type: none
}
.my-tools ul li {
	clear: both;
	border-bottom: 1px dotted #D9CFCD;
	padding: 3px 0;
}
.my-tools ul li a {
	color: #323232;
	text-decoration: none
}
.my-tools ul li a:hover {
	color: #FF4400;
	text-decoration: none
}
.line {
	overflow: hidden;
	background: url(../images/line_bg.png) repeat-x;
	margin-top: 10px;
}
.index-info {
	display: block;
	float: right;
}
.hot-title {
	background: url(../images/hot_icon.png) no-repeat left 3px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 21px;
	padding-top: 4px;
	font-family: "microsoft yahei";
}
.recommend-title {
	background: url(../images/recommend_icon.png) no-repeat left 3px;
	height: 30px;
	color: #666666;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding-left: 30px;
	font-family: "microsoft yahei";
}
.realtime {
	background: #FF4400;
	margin: 20px 0 10px;
	padding: 5px;
	color: #FFF;
	overflow: hidden
}
.all-shops {
	list-style-type: none;
    float:left;
}
.all-shops li {
	border: 1px solid #E1E1E1;
	float: left;
	margin-bottom: 7px;
	margin-right: 7px;
	padding: 10px;
	width: 164px;
	background: #fff;
    height:170px
}
.all-shops li:hover {
	border: 3px solid #FE6833;
	cursor: pointer;
	padding: 8px;
}
.hot-shops {
	overflow: hidden;
}
.hot-name {
	clear: both;
	border-bottom: 1px solid #FF4400;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0 5px;
    font-family:"microsoft yahei"
}
.hot-price {
	color: #888888;
	font-size: 20px;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
    float:left;
}
.hot-order {
	overflow: hidden;
	padding: 5px 0 0
}
button.button {
	background: #FF4400;
	border: 0 none;
	cursor: pointer;
	margin: 0;
	overflow: visible;
	padding: 0;
	width: auto;
	float: right
}
button.button span {
	border: 0 none;
	color: #FFFFFF;
	display: block;
	font: 16px/28px helveticaLT;
	height: 29px;
	padding: 0 10px;
	text-align: center;
	white-space: nowrap;
	font-size: 16px;
	font-weight: bold;
	font-family: "microsoft yahei";
}
button.button:hover {
	background: #E60012
}
.recommend-shops {
	clear: both;
	overflow: hidden;
	padding-top: 15px;
}
.recommend-pic {
	width: 74.8%;
	float: left;
	margin-right: 0.8%;
}
.recommend-text {
	width: 24.4%;
	float: left
}
.recommend-pic ul, .recommend-text ul {
	list-style-type: none;
	background: #fff;
	border: 1px solid #ccc;
	overflow: hidden;
	margin: 5px 0 10px;
}
.recommend-pic ul li {
	width: 20%;
	float: left;
	padding: 10px 0;
    height:132px;
}
.recommend-shop {
	padding: 5px;
}
.recommend-name {
	padding-left: 10px;
	color: #FF4400;
	font-size: 14px;
	font-weight: bold;
	font-family: "microsoft yahei";
    float:left;
}
.recommend-name p {
	font: 12px / 1.5 tahoma, arial, 宋 体;
	color: #666;
}
.phone-400 {
	background: url("../images/phone_bg.png") repeat-x scroll 0 0 transparent;
	height: 69px;
	overflow: hidden;
	position: relative;
}
.follow {
	position: absolute;
	right: 0;
	top: 15px;
}
.follow ul {
	list-style-type: none;
}
.follow ul li {
	float: left;
	margin-left: 20px;
}
.follow ul li span {
	background: none repeat scroll 0 0 transparent;
	float: left;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
}
.follow .microblog {
	background: url("../images/weibo-footer.png") no-repeat scroll 0 0 transparent;
	height: 40px;
	line-height: 35px;
	padding-left: 45px;
}
.follow .suggest {
	background: url("../images/suggest-footer.png") no-repeat scroll 0 3px transparent;
	height: 40px;
	line-height: 35px;
	padding-left: 45px;
}
.phone-400 span {
	background: url("../images/phone.png") no-repeat scroll 5px 15px transparent;
	color: #585858;
	display: block;
	font-size: 32px;
	font-weight: bold;
	height: 50px;
	padding: 5px 0 0 50px;
}
.footer-special ul {
	list-style-type: none;
}
.footer-special {
	width: 19.36%;
	margin-right: 0;
	margin-bottom: 10px;
}
.footer-normal {
	width: 19.36%;
	margin-right: 0.8%;
}
.footer-menu {
	border-bottom: 1px solid #BBB;
	overflow: hidden;
	list-style-type: none
}
.footer-menu li {
	padding-top: 8px;
	float: left;
}
.footer-menu li ul {
	list-style-type: none;
	overflow: hidden
}
.footer-menu ul li {
	clear: both;
	list-style-type: none;
	white-space: nowrap
}
.footer-arrow {
	background: url(../images/icon-arrow.png) no-repeat 8px 3px;
	padding-left: 20px;
	display: block
}
.footer-arrow a {
	color: #3F3F3F;
	text-decoration: none
}
.footer-arrow a:hover {
	color: #FF4400;
	text-decoration: none
}
.footer-time {
	background: url(../images/time.png) no-repeat 0px 18px;
	padding-left: 32px;
	color: #3F3F3F;
	font-size: 16px;
	font-family: "microsoft yahei";
	padding-top: 20px;
}
.footer-area {
	background: url(../images/area.png) no-repeat 0px 18px;
	padding-left: 32px;
	color: #3F3F3F;
	font-size: 16px;
	font-family: "microsoft yahei";
	padding-top: 20px;
}
.footer-info {
	background: url(../images/info.png) no-repeat 0px 18px;
	padding-left: 32px;
	color: #3F3F3F;
	font-size: 16px;
	font-family: "microsoft yahei";
	padding-top: 20px;
}
.footer-other {
	background: url(../images/other.png) no-repeat 0px 18px;
	padding-left: 32px;
	color: #3F3F3F;
	font-size: 16px;
	font-family: "microsoft yahei";
	padding-top: 20px;
}
.footer-about {
	background: url(../images/about.png) no-repeat 0px 18px;
	padding-left: 32px;
	color: #3F3F3F;
	font-size: 16px;
	font-family: "microsoft yahei";
	padding-top: 20px;
}
.footer-join {
	background: url(../images/join.png) no-repeat 0px 18px;
	padding-left: 32px;
	color: #3F3F3F;
	font-size: 16px;
	font-family: "microsoft yahei";
	padding-top: 20px;
}
.footer-pos {
	position: relative;
	border-bottom: 1px solid #bbb;
	padding-bottom: 20px;
}
.small-logo {
	background: url(../images/logo_small.png) no-repeat;
	position: absolute;
	right: 0;
	bottom: 20px;
}
.small-logo a {
	width: 101px;
	height: 43px;
	display: block;
	text-indent: -9999px;
	height: 43px;
	overflow: hidden
}
.footer-share {
	clear: both;
	padding: 10px 0;
}
.copyright {
	clear: both;
	padding: 10px 0;
	text-align: center;
}
/*tab*/
ul.tabs {
	margin: 0 0 0 15px;
	padding: 0;
	float: left;
	list-style: none;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	overflow: hidden;
	position: relative;
}
ul.tabs li.active,.page_linksbig .current {
	color: #fff;
	background: #FF4400
}
ul.tabs li a {
	text-decoration: none;
	display: block;
	outline: none;
	font-size: 12px;
	color: #F74C04;
	font-family: "microsoft yahei";
}
ul.tabs li.active a {
	color: #fff
}
.tab_container {
	clear: both;
	float: left;
	width: 100%;
}
#tab1 {
	background: url(../images/btn_01.png) no-repeat;
	height: 33px;
	padding-left: 40px;
}
#tab2 {
	background: url(../images/btn_02.png) no-repeat;
	height: 33px;
	padding-left: 40px;
	display: none
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
}
.tab_content h3 a {
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}
.my-search {
	float: right;
	margin: 15px 0 0
}
.ranking-tab {
	background: #fff;
	border: 1px solid #ccc;
	overflow: hidden;
	margin: 5px 0 10px;
}
.ranking {
	background: url("../images/ranking.png") no-repeat scroll 0 5px transparent;
	color: #666666;
	font-family: "microsoft yahei";
	font-size: 16px;
	padding: 5px 0 5px 25px;
}
.ranking-tab ul {
	border: 0 none;
	list-style-type: none;
	margin: 0;
}
.ranking-tab ul li {
	border-top: 1px dotted #CCCCCC;
	padding: 4px 2%;
    float:left;
    width:96%;
}
.ranking-tab ul li a{
	float:left;
}
.ranking-tab ul li span {
	color: #FE6833;
	display: block;
	float: right;
}
/*top*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 46px;
	height: 46px;
	border: none;
	text-indent: 100%;
	background: url(../images/ui.totop.png) no-repeat left top;
}
#toTopHover {
	background: url(../images/ui.totop.png) no-repeat left -46px;
	width: 46px;
	height: 46px;
	display: block;
	overflow: hidden;
	float: left;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity = 0);
}
#toTop:active, #toTop:focus {
	outline: none;
}
#banner {
	float: left;
	height: 280px !important;
	margin: 5px 0 0;
	width: 680px !important;
}
.top-phone {
	float: left;
	overflow: hidden
}
.top-menu {
	float: right;
	position: relative;
	width: 310px;
}
/*scroll*/
.new-order {
	float: left;
	height: 20px;
	line-height: 20px;
	border-right: 1px solid #FFF;
	font-size: 14px;
	margin: 5px 10px 5px 5px;
	padding-right: 10px;
}
.scroll {
	height: 30px;
	overflow: hidden;
	float: left
}
.scroll li {
	height: 30px;
	line-height: 30px;
	overflow: hidden;
}
.scroll li a {
	font-size: 12px;
	text-decoration: none;
	color: #FEE5B0
}
.scroll li a:hover {
	text-decoration: underline;
}

.mega-menu, .mega-menuli {
	list-style: none;
}
.mega-menu {
	position: relative;
	padding: 0;
	margin: 0;
}
.mega-menu li ul {
	display: none;
}
.mega-menu .sub {
	display: none;
}
.mega-menu .sub ul {
	display: block;
}
.head-link {
	position: absolute;
	right: 0;
	top: 0
}
.head-link ul.mega-menu, .head-link ul.mega-menu, .head-link ul.mega-menu li {
	margin: 0;
	padding: 0;
	border: none;
}
.head-link ul.mega-menu {
	position: relative;
}
.head-link ul.mega-menu li {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 12px;
	background: url(../images/head_space.png) no-repeat 0 8px;
}
.head-link ul.mega-menu li a {
	float: left;
	display: block;
	color: #666;
	text-decoration: none;
	padding: 0 15px;
	line-height: 25px;
}
.head-link ul.mega-menu li a.dc-mega {
	position: relative;
	padding: 10px 20px 10px 15px
}
.head-link ul.mega-menu li a .dc-mega-icon {
	display: block;
	position: absolute;
	width: 8px;
	height: 6px;
	top: 18px;
	right: 6px;
	background: url(../images/arrow.png) no-repeat 0 100%;
}
.head-link ul.mega-menu li.mega-hover a, .head-link ul.mega-menu li a:hover {
	background-position: 100% -40px;
	color: #FF4400;
}
.head-link ul.mega-menu li .sub a:hover {
	color: #FF4400;
}
.head-link ul.mega-menu li.mega-hover a .dc-mega-icon {
	background-position: 0 100%;
}
.head-link ul.mega-menu li .sub-container {
	position: absolute;
	background: #FFFDEE;
	margin-left: -3px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #EDD28B;
	border-bottom-color: #EDD28B;
	border-left-color: #EDD28B;
}
.head-link ul.mega-menu li .sub {
	background: #FFFDEE;
	padding: 5px;
}
.head-link ul.mega-menu li .sub-container.mega .sub {
	padding: 20px 20px 10px 0;
}
.head-link ul.mega-menu li .sub .row {
	width: 100%;
	overflow: hidden;
	clear: both;
}
.head-link ul.mega-menu li .sub li {
	list-style: none;
	float: none;
	width: 120px;
	font-size: 12px;
	font-weight: normal;
}
.head-link ul.mega-menu li .sub li.mega-hdr {
	margin: 0 10px 10px 0;
	float: left;
}
.head-link ul.mega-menu li .sub li.mega-hdr.last {
	margin-right: 0;
}
.head-link ul.mega-menu li .sub a {
	background: none;
	border: none;
	color: #666;
	padding: 2px 5px;
	display: block;
	float: none;
	text-decoration: none;
	font-size: 12px;
}
.head-link ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {
	padding: 5px 5px 5px 15px;
	margin-bottom: 5px;
	background: #E3E3E3 url(../images/bg_mega_hdr.png) no-repeat 0 0;
	text-transform: uppercase;
}
.head-link ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {
	color: #FF4400;
	text-shadow: none;
}
.head-link ul.mega-menu .sub li.mega-hdr li a {
	padding: 4px 5px 4px 20px;
	background: url(../images/arrow_off.png) no-repeat 5px 8px;
	font-weight: normal;
}
.head-link ul.mega-menu .sub li.mega-hdr li a:hover {
	color: #a32403;
	background: #efefef url(../images/arrow_on.png) no-repeat 5px 8px;
}
.head-link ul.mega-menu .sub ul li {
	padding-right: 0;
}
.head-link ul.mega-menu li .sub-container.non-mega .sub {
	padding: 5px;
}
.head-link ul.mega-menu li .sub-container.non-mega li {
	padding: 0;
	margin: 0;
	background: none
}
.head-link ul.mega-menu li .head-order a {
	color: #E53810;
	font-size: 18px;
	font-family: "microsoft yahei";
	font-weight: bold;
	line-height: 25px;
	padding: 5px 5px 5px 15px;
}
.head-fav {
	background: url(../images/head_fav.png) no-repeat 10px 8px !important;
	padding-left: 15px !important;
}
.select-city ul {
	list-style-type: none
}
.select-city {
	float: left;
	margin: 45px 15px 0 15px;
	background: url(../images/select-area.png) no-repeat;
	width: 64px;
	cursor: pointer;
    height:44px;
}
.select-city span {
	font-family: "microsoft yahei";
	display: block;
	padding-left: 8px;
	float: left;
    font-size:18px;
    font-weight:bolder;
}
#sel-city {
	float: left;
	display: block;
	color: #323232;
	text-decoration: none
}
#sle-area {
	white-space: nowrap;
    float:left;
    border:1px solid #ccc;
    position:relative;
    top:10px;
    z-index:1000;
    background-color:#FFF;
    padding:10px;
    display:none;
}
#sle-area a {
	padding:0px 5px;
	color: #666;
	text-decoration: none;
    font-size:13px;
    font-weight:bolder;
}
#sle-area a:hover {
	color: #F74C04;
}
.my-profile a {
	color: #323232;
	text-decoration: none;
}
.my-profile a:hover {
	color: #F74C04;
}
.area ul li a {
	float: left;
}
.area ul li div {
	text-decoration: none;
	display: block;
	padding-left: 15px;
	float: left
}
.area ul li a:hover {
	float: left;
	z-index: 2;
}
.area ul li .areashow {
	background-color: #fff;
	min-height: 271px;
	min-width: 751px;
	position: absolute;
	left: 186px;
	border: 1px solid #FF4400;
	font-size: 12px;
	padding: 10px;
	top: -1px;
	display: none;
	z-index: 999999;
	color: #666 !important;
	cursor: default;
}

.area ul li .areashow p {
	font-size: 14px;
}
.area ul li .areashow div a {
	padding: 0 5px;
    float:left;
    color: #666;
    white-space: nowrap;
    font-size:13px;
}
.areashow div a.active
{
	background-color:#FE6833;
	color:#FFF;
}
.lihover {
	background: #E60012 !important;
	cursor: pointer;
    color:#FFF;
}
.con-left {
	width: 24.4%;
	float: left;
	margin-right: 0.8%
}
.con-right {
	float: left;
	width: 74.8%
}
.my-news, .my-personal {
	background: #fff;
	margin: 10px 0;
	padding: 5px 10px;
	border: 1px solid #ccc
}
.my-news .news {
	background: url(../images/news-icon.png) no-repeat 5px 3px #FF4400;
	height: 30px;
	color: #fff;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 0 35px;
	font-family: "microsoft yahei";
}
.my-personal .site-title {
	margin: 5px 0 10px 0;
	color: #323232
}
.step-sign .site-title,.step-tab .site-title{
	margin: 10px 0 10px 7px;
	color: #323232
}
.my-info .site-title {
	margin: 5px 0 5px;
	color: #323232
}
.my-personal .pers {
	background: url(../images/my_fandian.png) no-repeat 5px 3px #FF4400;
	height: 30px;
	color: #fff;
	line-height: 30px;
	font-size: 16px;
	font-weight: bold;
	padding: 0 0 0 35px;
	font-family: "microsoft yahei";
}
.my-news ul, .my-personal ul {
	list-style-type: none
}
.my-news ul li, .my-personal ul li {
	clear: both;
	border-bottom: 1px dotted #D9CFCD;
	padding: 3px 0 5px;
}
.my-news ul li a, .my-personal ul li a {
	color: #323232;
	text-decoration: none
}
.my-news ul li a:hover, .my-personal ul li a:hover {
	color: #FF4400;
	text-decoration: none
}
.my-personal ul li a span {
	color: #FF4400
}
.my-content {
	background: #FEF8E2;
	margin: 10px 0;
	padding: 5px 10px;
	min-height: 145px;
	border: 1px solid #ccc
}
.my-content h1 {
	border-bottom: 1px solid #FF4400;
	font-size: 16px;
	color: #FF4400;
	padding: 5px 0
}
.my-content h1 span {
	display: block;
	float: right;
	font: 12px / 1.5 tahoma, arial, 宋 体;
	color: #666
}
.my-content p {
	padding: 5px 0;
}
.con-half {
	width: 50%;
	float: left;
}
.my-public {
	margin: 180px 10px 0 0
}
/*new style*/

.site-title {
	border-left: 2px solid #FF4400;
	font-family: microsoft yahei;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-left: 20px;
	padding-left: 10px;
}
.site-title-s {
	border-bottom: 1px dashed #ccc;
	padding: 5px 0;
	margin: 15px 0 10px 30px
}
.site-title-s span {
	float: right
}
.my-login {
	margin: 10px 0
}
.feedback_container {
	background: #fff;
	padding: 5px;
	border: 1px solid #ccc
}
.feedback_loop {
	list-style-type: none;
}
.feedback_message {
	border-color: #CCCCCC #CCCCCC #CCCCCC #FF4400;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    float: left;
    margin: 10px 0;
    padding: 5px;
    width: 945px;
}

.comment {
	border-color: #CCCCCC #CCCCCC #CCCCCC #FF4400;
    border-style: solid;
    border-width: 1px 1px 1px 4px;
    float: left;
    margin: 10px;
    padding: 5px;
    width: 610px;
}

.feedback_reply {
	border: 1px dashed #CCCCCC;
    float: left;
    margin: 10px 0 10px 50px;
    padding: 5px;
    width: 898px;
}
.login-tabs, .reg-tabs {
	list-style-type: none
}
.login-tabs li, .reg-tabs li {
	background: url(../images/pass.png) top left no-repeat;
}
.login-tabs li, .reg-tabs li {
	float: left;
	width: 102px;
	height: 30px;
	background-position: -10px -10px;
	margin-right: 15px;
	line-height: 30px;
	text-align: center
}
.login-tabs li.active, .reg-tabs li.active {
	width: 102px;
	height: 30px;
	background-position: -10px -50px;
}
.login-tabs li a, .reg-tabs li a {
	color: #434343;
	font-size: 14px;
	text-decoration: none
}
.login-tabs li.active a, .reg-tabs li.active a {
	color: #FFF;
	font-size: 14px;
	text-decoration: none
}
.login_container {
	clear: both;
}
.loginright {
	background: url(../images/line.png) no-repeat 150px center;
	padding-left: 200px;
	line-height: 200px;
	font-family: "microsoft yahei"
}
.loginright a {
	color: #FF4400;
	font-size: 16px;
}
.loginright a:hover {
	text-decoration: underline
}
.agreementOut {
	background: none repeat scroll 0 0 #F9F9F9;
	border: 1px solid #E0E0E0;
	clear: both;
	height: 78px;
	margin: 5px 0 0 95px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 5px 15px 5px 5px;
	width: 75%;
}
.agreementIn {
	clear: both;
	height: auto;
	margin: 0
}
.agreementIn p {
	padding: 5px;
	line-height: 150%
}
.listbox div {
	display: none
}
.listbox {
	background: #FFF;
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 5px;
}
.listbox h2 {
	background: #FF4400;
	font-size: 14px;
	color: #FFF;
	padding: 5px;
	font-family: "microsoft yahei";
	cursor: pointer;
	margin-bottom: 10px
}
.listbox h2 span {
	float: right
}
.listbox .box {
	margin-bottom: 10px;
	padding: 0 10px
}
.con-left {
	width: 20.4%;
	float: left;
	margin-right: 0.8%
}
.con-right {
	float: left;
	width: 78.8%
}
.step-left {
	width: 650px;
	float: left;
	margin-right: 0.8%;
	margin-bottom: 15px;
}
.step-right {
	float: left;
	width: 300px;
	margin-bottom: 15px;
}
.step-process {
	margin: 15px 0;
	font: Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: #fff;
	overflow: hidden;
}
.step-process ul {
	list-style-type: none;
	clear: both;
}
.step-text {
	margin: 10px 0;
	overflow: hidden
}
.step-process .step-text li {
	background: none;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	font-weight: bold;
	font-family: "microsoft yahei";
	color: #434343;
}
.step-process .step-text .act-text {
	font-size: 16px;
	color: #FE6632
}
.step-process ul li {
	width: 20%;
	height: 48px;
	float: left;
	line-height: 48px;
	text-align: center;
	background: url(../images/step-line-gray.png) repeat-x center center
}
.step-process ul .act-step {
	background: url(../images/step-line-org.png) repeat-x center center
}
.step-process ul li span {
	background: url(../images/step-gray.png) no-repeat center center;
	display: block;
	margin: 0 auto
}
.step-process ul .act-step span {
	background: url(../images/step-org.png) no-repeat center center;
	display: block;
	margin: 0 auto
}
.step-process ul li span a {
	display: block;
	text-decoration: none;
	color: #FFF;
	height: 48px;
	width: 48px;
	margin: 0 auto
}
.step-process ul li span a:hover {
	text-decoration: none;
}
.my-step-left {
	overflow: hidden;
}
.step-sign
{
	border: 1px solid #ccc;
	background: #fff;
	overflow: hidden;
	margin-bottom: 10px
}
.step-fenge,.step-tab {
	border: 1px solid #ccc;
	background: #fff;
	margin-bottom: 10px;
}
.step-fenge{
	overflow:hidden;
}
#catab{
	position:relative;
}

.step-sort {
	padding: 5px;
	float: left;
	margin: 5px 0
}
.step-search {
	padding: 5px;
	float: right
}
.step-shop-search {
	clear: both;
	margin: 10px 5px;
	overflow: hidden
}
.step-shop-search .step-searchbox {
	width: 550px;
	padding: 5px;
}
.setp-banner {
	background: url(../images/shop-head-top-bg.png) repeat-x;
    background-color:#FFE4D8;
	width: 650px;
	height: 180px;
	position: relative
}
.step-btn {
	background: #ECECEC;
	border: 1px solid #ccc;
	margin: 0 5px;
	cursor: pointer;
	padding: 2px 5px;
}

.step-searchbtn {
	background: #FFF;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #ccc;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
	height: 32px;
	cursor: pointer;
    float:left;
    
}
.step-shop-left {
	position: absolute;
	top: 40px;
	left: 30px;
}
.step-shop-right {
	float:right;
	width:264px;
	height:160px;
    background: url(../images/shop-head-bg.png) no-repeat;
    text-align:center;
    margin-top:20px;
}

.my-step-left .step-shop-list li {
	clear: both;
	color: #333;
	padding: 0;
	float:none
}
.my-step-left .step-shop-list li .site-title {
	margin: 0
}
.my-step-left .step-shop-right li
{
	margin-left:10px;
}

.my-step-left .step-shop-left li, .my-step-left .step-shop-right li {
	color: #333;
	clear: both;
	font-family: "microsoft yahei";
    white-space: nowrap;
}

.step-shop-left li{
	margin:3px 0px;
}

.step-title {
	font-size: 25px;
}
.step-notice-close {
	color: #FF4400 !important;
	font-size: 18px;
    margin-top:30px;
    background: url(../images/shop-close-big.png) no-repeat right center;
}
.step-notice-open {
	color: #FF4400 !important;
	font-size: 18px;
    margin-top:30px;
    background: url(../images/shop-open-big.png) no-repeat right center;
}
.step-shop-menu {
	border-bottom: 1px dashed #ccc;
	width: 650px;
	line-height: 25px;
	overflow: hidden;
	padding: 10px 0
}
.step-shop-menu .s-left {
	float: left;
}
.step-shop-menu .s-left span, .step-shop-menu .s-right span {
	line-height:18px;
    font-size:14pt;
}
.step-shop-menu .s-right {
	float: right
}
.step-shop-menu .s-right span {
	padding-right: 25px;
	cursor: pointer;
	height:16px;
}
.zhaopai, .youtu {
	background: url(../images/menu-list.png);
	width: 15px;
	height: 15px;
	text-indent: -999px;
	margin: 2px;
}
.step-shop-menu .zhaopai {
	background-position: 0 -15px
}
.step-shop-menu .youtu {
	background-position: -15px -15px
}

.my-step-right {
	overflow: hidden;
	width: 300px;
}

.order-right
{
	overflow: hidden;
	width: 300px;
	margin:10px 0px;
	padding:0px 10px;
	border:1px solid #CCC;
	background-color:#FFFBEB
}
.ord_vote_row
{
	margin-bottom:10px;
}
.order-right p
{
	line-height:30px;
	color:red;	
	font-size:14px;
}
.order-right ul li
{
	list-style:none;
	line-height:25px
}
.my-info {
	margin-bottom: 10px
}
.my-info, .shop-info {
	background: #FEF8E2;
	border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
	list-style-type: none;
	clear: both;
	padding: 5px
}
.my-info li {
	clear: both;
	margin: 5px;
	white-space: nowrap;
}
.my-info .s3 {
	width: 16px;
	height: 25px;
	background-position: -10px -10px;
}
.my-info .s2 {
	width: 16px;
	height: 25px;
	background-position: -10px -45px;
}
.my-info .s1 {
	width: 16px;
	height: 25px;
	background-position: -10px -80px;
}
.shop-info {
	clear: both;
	margin: 5px;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden
}
.shop-info .shop-title {
	font-size: 12px;
	color: #FF4400;
}
.shop-info li {
	color: #434343;
	padding: 2px 0;
	clear: both;
	overflow: hidden;
}
.shop-info .shop-menu {
	float: left
}
.shop-info .shop-price {
	float: right
}
.shop-price input {
	border: 1px solid #ccc;
	width: 18px;
	height: 18px;
	float: left;
	text-align: center;
	margin-right: 5px
}
.shop-price .plusminus {
	width: 15px;
	height: 15px;
	margin-top: 2px;
	cursor: pointer;
	display: block;
	border: 1px solid #ccc;
	float: left;
	text-align: center;
	margin-right: 5px;
	background: #FFF
}
.shop-price a {
	text-decoration: none;
	color: #434343;
	line-height: 12px;
}
.shop-price span {
	display: block;
	padding-left: 5px;
	float: left
}
.shop-info .shop-count {
	border-top: 1px solid #434343;
	overflow: hidden;
	clear: both;
	margin: 10px 0;
	padding: 5px 0
}
.shop-info .shop-count span {
	font-size: 18px;
	color: #FF4400;
	font-family: Georgia, "Times New Roman", Times, serif;
	float: right;
	display: block
}
.shop-info .remark {
	border: 1px solid #ccc;
	width: 98%
}
.or-select {
	text-align: center;
	font-size: 26px;
	color: #FFF;
	font-weight: bold;
	font-family: "microsoft yahei";
}
.my-step-left p span {
	color: #FE6632
}
.my-step-left ul, .my-step-left ul li ul {
	list-style-type: none
}
.my-step-left ul {
	overflow: hidden
}
.step-sort-title {
	float: left;
	display: block;
	line-height: 26px;
	margin-right: 10px
}
.my-step-left .step-sort-icon {
	float: left;
	margin: 0
}
.my-step-left .step-sort-icon .step-view a {
	float: left;
	text-indent: -999px;
	background: url(../images/zjvendor.png) no-repeat;
	cursor: pointer
}
.my-step-left .step-sort-icon .step-order a {
	float: left;
	text-indent: -999px;
	background: url(../images/odvendor.png) no-repeat;
	cursor: pointer
}
.my-step-left .step-sort-icon li a {
	float: left;
	text-indent: -999px;
	background: url(../images/sort-up.png) no-repeat;
	cursor: pointer
}
.my-step-left .step-sort-icon .step-all-hover a {
	float: left;
	text-indent: -999px;
	background: url(../images/hot-sort-down.png) no-repeat;
	cursor: pointer
}
.my-step-left .step-sort-icon .step-distances a {
	width: 55px;
	height: 26px;
	background-position: 0 0;
	padding: 0
}
.my-step-left .step-sort-icon .step-hot a {
	width: 53px;
	height: 24px;
	padding: 0
}
.my-step-left .step-sort-icon .step-cost a {
	width: 53px;
	height: 24px;
	padding: 0
}
.my-step-left .step-sort-icon .step-view a {
	width: 120px;
	height: 24px;
	padding: 0
}

.my-step-left .step-sort-icon .step-order a {
	width: 120px;
	height: 24px;
	padding: 0
}

.my-step-left ul li ul {
	float: left
}
.my-step-left ul li {
	float: left;
	padding: 5px;
}
.my-step-left ul li ul li {
	float: left;
	padding: 0 2px;
}
.my-step-left ul li ul li a {
	text-decoration: none;
	display: block;
	color: #434343;
	padding: 5px 10px;
}
.my-step-left ul li ul li .screenshot, .my-step-left ul li ul li .tooltip {
	padding: 0;
	display: inline
}
.my-step-left ul li .act-list a {
	background: #ff4400;
	color: #fff;
}
.ctgactive,.act-list {
	background: #ff4400;
	color: #fff;
}
.act-list span a{
	color:#FFF;
}
.my-step-left ul li span {
	float: left;
	display: block;
    cursor:pointer;
}

.step-tab ul li span{
	padding:5px;
    line-height:18px;
}
.step-tab ul{
	margin-top:10px;
}

.step-shop {
	border-bottom: 1px solid #ccc;
	padding: 15px 0;
	overflow: hidden
}
.other-step-shop {
	float: left;
	border: 1px solid #ccc;
	width: 328px;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 2px;
	background: #fff
}
.other-step-shop:hover {
	border: 1px solid #ff4400;
}
.other-step-shop.other-right {
	margin-right: 0
}
.other-step-shop-pic {
	width: 310px;
	margin: 10px auto;
	height: 150px;
	background: #FFF;
	overflow: hidden
}
.step-shop-pic {
	width: 120px;
	height: 80px;
	border: 1px solid #ccc;
	background: #fff;
	float: left;
    text-align:center
}
.other-step-shop-info {
	clear: both;
	margin: 0 !important
}
.step-shop-info {
	float: left;
	margin: 0 !important
}
.step-shop-info li, .other-step-shop-info li {
	clear: both;
	padding-bottom: 5px !important;
	color: #333 !important
}
.step-shop-info .step-shop-name, .other-step-shop-info li .step-shop-name {
	color: #ff4400 !important
}
.step-shop-info li p {
	float: left;
	padding-right: 10px
}
.other-step-shop-btn {
	clear: both
}
.step-shop-btn {
	float: right;
	margin-top: 15px
}
.step-shop-btn a {
	background: #ff4400;
	color: #fff;
	font-size: 24px;
	padding: 8px 25px;
	font-family: "microsoft yahei";
	display:block
}
.other-step-shop-btn a {
	background: #ff4400;
	color: #fff;
	font-size: 18px;
	padding: 5px 25px;
	font-family: "microsoft yahei";
	margin: 0 5px 5px;
	display: inline-block;
}
.step-shop-btn a:hover, .other-step-shop-btn a:hover {
	background: #E60012
}
.add_history {
	clear: both;
	margin: 10px 0 10px 5px;
	overflow: hidden;
	background: url(../images/btn_01.png) no-repeat scroll 0 0 transparent;
	height: 33px;
	padding-left: 40px;
}
.my-submit-his {
	border: 0;
	margin: 0 10px 0 0;
	cursor: pointer;
	float: left;
	height: 33px;
	outline: medium none;
	overflow: hidden;
	text-indent: -999px;
}
.full-screen {
	margin: 10px 0;
	padding: 5px;
}
.my-step-left .dif-p {
	border-bottom: 1px solid #ddd;
	background: #F2F2F2;
	padding: 5px;
	line-height: 30px
}
.my-step-left .dif-p span {
	color: #ff4400
}
.my-step-left .dif-pos {
	background: url(../images/pos.png) no-repeat left 5px;
	padding-left: 20px;
	float: right
}
.all-BIZ {
	position: relative
}
.all-BIZ-shop {
	overflow: hidden;
	padding: 10px 0;
}
.paging {
	background: #F9F9F9;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}
.gropu-paging {
	background: #F9F9F9;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #ccc;
}
.group-other {
	clear: both;
	padding: 5px;
}
.gropu-btn .sumit-btn {
	margin: 0
}
.group-other span {
	color: #FE6632
}
.all-confirm {
	border: 1px solid #FFCE9D;
	background: #FFFBE8;
	overflow: hidden;
	margin: 10px;
	padding: 10px;
}
.all-confirm p {
	padding: 3px 0;
	clear: both
}
.money {
	font-size: 28px;
	font-family: Georgia, "Times New Roman", Times, serif
}
.sumit-btn {
	border: 1px solid #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 3px;
	border-radius: 5px;
	-khtml-border-radius: 5px;
	background: -moz-linear-gradient(100% 100% 90deg, #E60012, #FF4400);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E60012), to(#FF4400));
	background: -webkit-linear-gradient(#E60012, #FF4400);
	background: -o-linear-gradient(#E60012, #FF4400);
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 6px 15px;
	margin: 15px 0px;
	cursor: pointer;
}
.shop-name {
	background: #F9F9F9;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #ccc;
	border-bottom-color: #ccc;
	color: #FE6632;
	font-size: 16px;
	font-weight: bold;
	font-family: "microsoft yahei";
}
.all-group-shop {
	overflow: hidden;
	margin-bottom: 10px;
	margin-left: 10px;
}
.all-group-shop .left {
	float: left;
	width: 48%;
	margin-right: 2%;
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 85px;
}
.all-group-shop .right {
	float: left;
	width: 48%;
	border: 1px solid #ccc;
	overflow: hidden;
	padding-bottom: 85px;
}
.all-group-shop .group-pic {
	padding: 10px;
    height:160px;
}
.all-group-shop .left .gropu-price {
	position: absolute;
	top: 265px;
	left: 3px;
	background: url(../images/group-arrows.png) no-repeat;
	width: 184px;
	height: 65px;
}
.all-group-shop .left .gropu-btn {
	position: absolute;
	top: 270px;
	right: 342px;
	margin: 5px;
}
.all-group-shop .right .gropu-btn {
	position: absolute;
	top: 270px;
	right: 20px;
	margin: 5px;
}
.all-group-shop .gropu-cost {
	font-size: 16px;
	color: #434343;
	text-decoration: line-through;
	margin: 5px;
	font-family: "microsoft yahei";
}
.all-group-shop .right .gropu-price {
	position: absolute;
	top: 265px;
	left: 325px;
	background: url(../images/group-arrows.png) no-repeat;
	width: 184px;
	height: 65px;
}
.all-group-shop .gropu-cost span {
	font-family: Georgia, "Times New Roman", Times, serif
}
.all-group-shop .gropu-content span {
	color: #FE6632;
	font-size: 14px;
	padding-right: 5px;
}
.all-group-shop .gropu-content {
	color: #434343;
	margin: 5px;
	height: 60px;
	overflow: hidden
}
.all-group-shop .gropu-price a {
	color: #FFF;
	text-decoration: none;
	cursor: auto;
	font-size: 18px;
	padding-top: 5px;
	display: block
}
.all-group-shop .gropu-price  span {
	font-size: 28px;
	font-family: Georgia, "Times New Roman", Times, serif;
	padding-right: 10px;
}
.step-full {
	background: url(../images/shop-bg.png) no-repeat;
	height: 180px;
	position: relative
}
.step-full .shop-logo {
	padding: 30px;
	overflow: hidden;
}
.step-full span {
	display: block;
	float: left;
	font-size: 30px;
	color: #191306;
	font-weight: bold;
	font-family: "microsoft yahei";
	border-right: 1px solid #191306;
	padding-right: 15px;
	line-height: 120px;
}
.step-full .shop-logo-img {
	display: block;
	float: left;
	overflow: hidden;
	border: 0;
	line-height: normal;
}
.step-full .shop-logo ul {
	float: left;
	list-style-type: none;
}
.step-full .shop-logo ul li {
	padding: 0 0 0 15px;
	line-height: 140%;
}
.shop-fav {
	position: absolute;
	right: 0;
	top: -2px;
	background: url(../images/shop-fav.png) no-repeat;
	width: 158px;
	height: 160px;
	text-indent: -999em
}
.shop-fav a {
	width: 158px;
	height: 160px;
	cursor: pointer;
	display: block
}
.shop-overview {
	border: 1px solid #ccc;
	background: #FFF;
	padding: 10px;
	overflow: hidden;
}
.shop-overview p span {
	font-size: 14px;
}
.shop-overview p {
	font-size: 12px;
	padding: 5px 0;
	float: left
}
.shop-overview .shop-menu-title {
	background: url("../images/hot_icon.png") no-repeat scroll 0 8px transparent;
	border-top: 1px solid #CCCCCC;
	padding: 10px 0 0 25px;
	font-size: 14px;
	color: #FE6632;
	margin-top: 15px;
	width: 95%;
	clear: both
}
.shop-left {
	float: left;
	width: 30%;
	margin-right: 2%;
}
.shop-left ul {
	border: 1px solid #CCC;
	list-style-type: none;
	padding: 5px;
}
.shop-left ul li {
	padding: 2px;
}
.shop-left ul li .meun-list {
	background: url(../images/list-icon.png) no-repeat;
	padding-left: 30px;
	font-size: 14px;
	font-weight: bold;
	color: #FE6632;
	font-family: "microsoft yahei";
}
.shop-left ul li a {
	background: url("../images/dot.png") no-repeat scroll 3px 10px transparent;
	color: #434343;
	padding: 3px 0 3px 12px;
	text-decoration: none;
}
.shop-left ul li a:hover {
	color: #FF4400
}
.shop-right {
	float: left;
	width: 68%
}
.shop-right ul {
	list-style-type: none;
}
.shop-index {
	border: 1px solid #CCC;
	padding: 5px;
}
.shop-index .li-first {
	margin-bottom: 10px;
}
.shop-index .li-first span {
	background: #FF4400;
	color: #fff;
	line-height: 30px;
	font-size: 14px;
	padding-left: 10px;
	display: block
}
.shop-index .li-first ul li {
	background: none repeat scroll 0 0 transparent;
	border-bottom: 1px dotted #CCCCCC;
	font-size: 12px;
	list-style-position: inside;
	padding: 5px 0;
	overflow: hidden;
}
.shop-index .pro-pic {
	text-indent: -999em;
	background: url(../images/pro-pic.png) no-repeat center 2px;
	width: 24px;
	height: 26px;
	float: left;
}
.shop-index .pro-pic a {
	display: block;
	height: 24px;
	width: 24px;
	background: none;
	overflow: hidden;
}
.shop-index .pro-title {
	float: left;
	padding: 0 5px;
	line-height: 25px;
}
.shop-index a {
	float: right;
	background: url(../images/add-icon.png) no-repeat;
	width: 16px;
	height: 16px;
	margin: 5px;
	text-indent: -999em;
	overflow: hidden;
}
.shop-index .pro-add {
	line-height: 25px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	float: right;
	text-decoration: none;
	color: #434343;
}
.li-hover {
	background: #f1f1f1 !important;
}
a#ppptop, a#order_history {
	display: none !important
}
.recommend-shop img {
	width: 108px;
}
.hot-shops img {
	width: 168px;
	height: 90px
}
.paging a {
	padding: 5px 8px;
}
.my-info .s-all span {
	color: #FFF;
	position: absolute;
	top: 2px;
	left: 4px
}
.my-info .s-all {
	width: 16px;
	height: 25px;
	background: url(../images/li-all.png) no-repeat;
	position: relative
}
.my-step-left h1 {
	font: bold 19px/30px Microsoft Yahei, 黑体;
	padding: 10px;
}
.tuan {
	overflow: hidden
}
.tuanleft {
	background-color: #F7F7F7;
	border: 1px solid #E6E6E6;
	margin: 5px;
	padding: 5px;
	float: left;
	width: 210px;
	text-align: center;
}
.tuan-content {
	background-color: #F7F7F7;
	border: 1px solid #E6E6E6;
	margin: 5px;
	padding: 5px;
	clear: both
}
.tuanright {
	float: left;
	overflow: hidden;
	padding-top: 5px;
}
.deal-price {
	color: #EB4800;
	font: 44px/50px arial;
	height: 50px;
	margin-bottom: 10px;
	overflow: hidden;
}
.deal-price span {
	font-size: 38px;
	margin-right: 3px;
}
.deal-original {
	color: #717171;
	font-size: 14px;
	margin-bottom: 15px;
}
.deal-original del {
	margin-right: 15px;
}
.deal-original span, .deal-original del {
	color: #3B3B3B;
	font: bold 16px/18px Arial;
	margin-left: 5px;
}
.deal-original span, .deal-original del {
	color: #3B3B3B;
	font: bold 16px/18px Arial;
	margin-left: 5px;
}
.deal-bw {
	margin-bottom: 10px;
}
.deal-bw .sumit-btn {
	margin: 0
}
.tuanleft p {
	float: none
}

.tuan-info {
	overflow: hidden;
}
.detail-buy {
	border-bottom: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-top: 1px solid #D8D8D8;
	clear: both;
	height: 50px;
	overflow: hidden;
	padding: 20px 0 15px;
}
.detail-buy table {
	float: left;
	font-size: 14px;
	width: 280px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.detail-buy th {
	color: #8B8B8B;
	font-weight: normal;
	padding: 3px 15px 0;
}
.detail-buy td {
	color: #171717;
	padding: 0 15px;
	text-align: center;
}
.detail-buy .fl {
	color: #EB4800;
	font: 40px/50px arial;
	margin-right: 40px;
	padding-left: 22px;
	float: left
}
.deal-status {
	color: #5E5E5E;
	font-size: 14px;
	padding-bottom: 5px;
}
.deal-status strong {
	color: #EB5E00;
}
.tuanright img {
	height: 200px;
}
.menu-express td {
	padding: 5px 2px;
}
.menu-express input[type="text"] {
	width: 180px
}
.menu-express input[type="text"], .menu-express select {
	border: 1px solid #ccc;
	margin: 2px 0;
	padding: 2px
}
.fancybox {
	background: none repeat scroll 0 0 #FF4400;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
}
.fancybox:hover {
	color: #fff
}
#wrapper {
	overflow: hidden;
	position: relative;
	margin-top: 5px;
}
#portamento_container {
	position: absolute;
	right: 0;
	top: 0;
}
#sidebar {
	position: absolute;
	right: 0;
	top: 0;
}
#portamento_container #sidebar.fixed {
	position: fixed;
	right: auto;
	top: auto;
}
#screenshot {
	position: absolute;
}
#tooltip {
	position: absolute;
	background: #FF4400;
	padding: 2px 5px;
	color: #fff;
	display: none;
}
.order-confirm {
	width: 99%;
	margin: 0 auto
}
.order-confirm td {
	padding: 5px 0
}
.order-confirm h1 {
	text-align: center;
	color: #FF4400;
	font-size: 18px;
	font-family: "microsoft yahei";
}
.order-confirm h2 {
	color: #FF4400;
	font-size: 16px;
}
.order-btn {
	background: none repeat scroll 0 0 #FF4400;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 20px;
	margin: 10px 30px;
	display: inline-block
}
.order-btn:hover {
	color: #FFF
}
.order-submit {
	text-align: center
}
.bg-none {
	background: none
}
.order-border td {
	border: 1px solid #ccc;
	padding-left: 5px;
}
.order-border {
	border: 1px solid #ccc;
}
.order-border span {
	color: #ff4400
}

div#modal_address_map_canvas {
    border: 1px solid #ccc;
    float: left;
    height: 440px !important;
    width: 600px !important;
}

div.modal_map_rightbar {
	width: 182px;
	padding: 0px;
	border: 1px solid #ccc;
	background: #fff;
	height: 440px;
	float:right;
}
div.modal_map_rightbar ul#coords li {
	list-style:none;
	margin: 5px;
}
div.modal_map_rightbar_title {
	font-size: 13px;
	text-align: center;
	color:#FF4400;
	padding:2px 0px;
}

div.scroll_banner{
	display:none;
}
div.scroll_banner img {
    width: 960px;
}
.sina{
	margin-top:50px;float:left
}

div.feedback_content {
    float: left;
    margin-left: 15px;
}

.page_linksbig {
    border: 1px solid #CCCCCC;
    margin: 8px 0px;
    padding: 10px;
    overflow: hidden;
    font-size:14px;
}
.page_linksbig a{
	padding:0px 10px
}

div.feedback_un {
    color: #FE6833;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
div.feedback_ut {
    float: left;
    margin-top: 5px;
}

.slides_container {
    display: none;
    overflow: hidden;
    position: relative;
    width: 680px;
    height:280px;
}
.slides_container a {
    display: block;
    height: 270px;
    width: 680px;
}
.slides_container a img {
    display: block;
}
#slides .next, #slides .prev {
    display: block;
    height: 43px;
    left: -39px;
    position: absolute;
    top: 107px;
    width: 24px;
    z-index: 101;
}
#slides .next {
    left: 585px;
}

.pagination {
    float:right;
    position:relative;
    top:-15px;
    z-index:10;
}
.pagination li {
    float: left;
    list-style: none outside none;
    margin: 0 2px;
}
.pagination li a {
    background-image: url("../images/pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding-top: 12px;
    width: 12px;
}
.pagination li.current a {
    background-position: 0 -12px;
}

.captcha{
	cursor:pointer;
}

.feedback ul{
	list-style:none;
}
.feedback ul li{
	float:left;
    margin-right:10px;
}


.history-order{
	border:1px solid #CCC;
    margin-bottom:10px;
}
.history-order p{
	margin-top:10px;
}
.history-order ul li{
	list-style:none;
    line-height:30px;
    padding:0px 20px;
    font-size:14px;
    border-bottom:1px dotted #CCC;
}
.op_done{
	padding:10px;
    font-size:14px;
    color:red;
    font-weight:bolder;
}
.ip{
	margin-top:12px;
}
.ip,.bg{
	float:left;
}
.list_none{
	width:100%;
	margin-top:10px;
}
#special-food{
	float:left;
	overflow:hidden;
	width:2000px
}
.box
{
	width:160px;
	height:160px;
	text-align:center;
	float:left
}

.addbutton
{
	color:#FFF;
	text-align:center;
	height: 24px;
    width: 50px;
	font-size:14px;
	cursor:pointer;
	background:#FB6c1c;
	background-position-x:0%;
	background-position-y:0%;
	background-attachment:scroll;
	background-repeat:repeat;
	border:0px;
}

/*
 * jcart
 */
#jcart * { margin:0; padding:0; font-family:arial, tahoma, verdana, sans-serif; }
#jcart, #jcart input, #jcart-tooltip { font-size:12px;}
#jcart input{ width:16px ; margin:0px 4px;}
#jcart fieldset { border:0; }

#jcart table { width:100%; border:0; background:#fff; border-collapse:collapse; }
#jcart tr {  }
#jcart th, #jcart td { padding:5px; border:0; border:solid 1px #ccc; vertical-align:top; text-align:left; font-weight:normal; }
#jcart td.empty { text-align:center; }

#jcart p.jcart-error { text-align:center; padding:5px; }

#jcart strong#jcart-title {  }

#jcart th { background:#ffe4d8 }
#jcart th#header {  }
$jcart th#footer {  }

#jcart td.jcart-item-qty { width:30%; text-align:center }
#jcart td.jcart-item-name { width:40%; }
#jcart td.jcart-item-price { width:30%; text-align:right; }
#jcart td.jcart-item-price span { display:block; }

#jcart a.jcart-remove { font-size:11px; font-weight:normal; }

#jcart span#jcart-subtotal { display:block; color:red}
#jcart span#jcart-subtotal strong {font-size:13pt}

#jcart input.jcart-button { padding:2px; margin:2px;}

#jcart input#jcart-checkout { float:right; }

#jcart input#jcart-paypal-checkout { display:block; padding:10px; margin:20px auto; }

#jcart-tooltip { border:solid 1px #000; padding:3px 7px 3px 25px;}

.msg{color:red}

/*
 * autocomplete
 */
.acInput {
	width: 150px;
}
.acResults {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
}

.acResults ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.acResults li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.acLoading {
	background : url('../images/indicator.gif') right center no-repeat;
}

.acSelect {
	background-color: Highlight;
	color: HighlightText;
}

.slideshow{
	background:#FEE7DF;height:135px;
}
.slideshow table
{
	width:100%;
	text-align:center;
	color:#666
}

#orderstate {
    background: none repeat scroll 0 0 #FFFCEB;
    border: 1px solid #EED97C;
    padding: 0 5px;
}
#orderstate .mt strong {
    float: left;
    font-size: 14px;
}
.ftx14 {
    color: #12A000;
}
.fr {
    float: right;
}
#orderstate .mc {
    padding: 10px 8px;
}
#orderstate .mt {
    border-bottom: 1px dotted #EED97C;
    height: 25px;
    line-height: 25px;
    padding: 4px 8px;
}
#process {
    margin: 0 auto;
    padding: 25px 0 80px;
}
.section3 {
    width: 533px;
}
#process .node {
    width: 13px;
}
#process .node, #process .proce {
    background-image: url("../images/bg_state.jpg");
    background-repeat: no-repeat;
    float: left;
    height: 13px;
    position: relative;
}
.node.ready {
    background-position: -150px 0;
}

#process .node ul {
    margin-left: -152px;
    width: 318px;
    z-index: 1;
}
#process ul {
    margin-top: -38px;
    position: absolute;
    text-align: center;
}
ol, ul {
    list-style: none outside none;
}

#process .tx1 {
    height: 36px;
    margin-bottom: 16px;
}


#process .tx3 {
    color: #999999;
    line-height: 15px;
}


#process .proce ul {
    width: 150px;
    z-index: 5;
}

.proce.ready {
    background-position: 0 0;
}

#orderinfo, #ordermess {
    background: none repeat scroll 0 0 #EDEDED;
    border: 1px solid #DADADA;
    overflow: visible;
    padding: 0 5px 10px;
}
.m, .sm {
    margin-bottom: 10px;
}
#orderinfo .mt, #ordermess .mt {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
}
.mt, .smt {
    cursor: default;
}
#orderinfo .mc, #ordermess .mc {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 5px 8px;
}
#orderinfo .mc dl.fore {
    border-top: 0 none;
    background:#EDEDED;
}
#orderinfo .mc dl {
    border-top: 1px solid #EDEDED;
    padding: 10px 5px;
}

#orderinfo .mc dt {
    font-weight: bold;
    margin-bottom: 4px;
}

#orderinfo dt .i-mt {
    float: left;
    margin-right: 34px;
}

.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

#orderinfo .p-list {
    border-left: 1px solid #DEDEDE;
    margin-right: -1px;
    overflow: hidden;
}

#orderinfo .p-list table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-collapse: collapse;
    border-color: #DEDEDE;
    border-image: none;
    border-style: solid;
    border-width: 0 1px;
    margin-left: -1px;
}
table {
    empty-cells: show;
}

#orderinfo .p-list table {
    border-collapse: collapse;
}
#orderinfo .p-list th {
    background: none repeat scroll 0 0 #F0F0F0;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #F0F0F0;
    border-top: 1px solid #DEDEDE;
    font-weight: normal;
    padding: 5px;
}

#orderinfo .p-list td {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DEDEDE;
    border-left: 1px solid #F0F0F0;
    border-top: 1px solid #DEDEDE;
    padding: 5px;
    text-align: center;
}


#orderinfo .total {
    font-family: arial;
    overflow: hidden;
    padding: 15px 10px 0;
}


#orderinfo .total ul {
    float: right;
    font-size: 14px;
    overflow: hidden;
    padding: 0 20px 10px 0;
}

.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.extra {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 0 0;
}

#orderinfo .total .extra b {
    font-size: 24px;
}

.ftx04 {
    color: #FF0000;
}

.ol_onlinepay_banks li { width:180px;float:left}

#process .proce {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 0 5px;
    width: 150px;
}
#process .tx1 {
    height: 36px;
    margin-bottom: 16px;
}
#process .tx3 {
    color: #999999;
    line-height: 15px;
}
.node.wait {
    background-position: -150px -40px;
}
.node.singular {
    background-position: -150px -60px;
}
.proce.wait {
    background-position: 0 -40px;
}
.proce.doing {
    background-position: 0 -20px;
    color: #336600;
}
.proce.ready {
    background-position: 0 0;
}
#process .wait .tx2 {
    color: #999999;
}
#process ul {
    margin-top: -38px;
    position: absolute;
    text-align: center;
}

.tabs {
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
    line-height: 14px;
    width: 100%;
}
.tabs ul {
    background-color: #FFFFFF;
    color: #222222;
    display: block;
    font-weight: bold;
    height: 28px;
    margin: 0;
    padding: 0 0 0 20px;
}
.tabs ul li {
    border-bottom: 0 none !important;
    color: #555555;
    float: left;
    list-style: none outside none;
    margin: 0 0.2em 1px 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
.tabs ul li.tabs_active {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    color: #333333;
    margin-bottom: 0;
    padding-bottom: 1px;
}
.tabs ul li.tabs_hover {
    background-color: #FFFFFF;
    border: 1px solid #999999;
    margin-bottom: 0;
    padding-bottom: 1px;
}
.tabs ul li a {
    color: #777777;
    cursor: pointer;
    float: left;
    padding: 0.5em 1em;
    text-decoration: none;
}
.tabs ul li.tabs_active a {
    color: #333333;
}
.tabs ul li.tabs_active a {
    color: #555555;
}

#vendor-comment{
	display:none;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #CCCCCC;
	min-height:400px;
}

.fl {
	width:650px;
    float: left;
}

.star-list {
    margin-bottom: 5px;
    overflow: hidden;
}


.star-list li {
    float: left;
    margin-right: 22px;
}
